*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.idea/
build/
.gradle/
build/kotlin-classes/main/META-INF/HalfPancakeGraphN2N-compileKotlin.kotlin_module

.idea/workspace.xml

.gradle/2.9/taskArtifacts/fileHashes.bin

.gradle/2.9/taskArtifacts/cache.properties.lock
